:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.chart {
  height: 250px;
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#stats-container {
  margin: 0 50px 0 0;
  justify-content: flex-start;
  gap: 40px;
}

.stats-row {
  justify-content: flex-end;
  align-items: baseline;
  gap: 10px;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #000000;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #000000;
}

button:active {
  border-color: #000000;
  background-color: #ffffff;
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #000000;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #00000098;
  }
  button:active {
    background-color: #000000;
  }
}
